<div th:replace="~{partials/header}"></div>
  <!-- CONTEÚDO PRINCIPAL -->
  <main class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5">Sistema de cadastro de tarefas</h1>
      <p class="lead">A inclusão de de dados é feita para fins de teste, são guardados em uma Array<list>.</p>
      <p>Inicie o cadastro de suas tarefas<a href="/create">, para registra-las</a>.</p>
    </div>
    <div class="container">
      <h1 class="mt-5">Sistema de cadastro de tarefas</h1>
      <p class="lead">A inclusão de de dados é feita para fins de teste, são guardados em uma Array<list>.</p>
      <p>Inicie o cadastro de suas tarefas<a href="/create">, para registra-las</a>.</p>
    </div>
  </main>
<div th:replace="~{partials/footer}"></div>